# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual envs
venv/
.env/

# Jupyter
.ipynb_checkpoints/

# Data (keep big/PHI data out of GitHub)
data/raw/
data/processed/
data/weak_labels/
data/weak_labels_splits/
*.csv
*.xlsx
*.parquet
*.zip
*.gz

# Models (tracked separately with LFS or external storage)
models/
*.bin
*.pt
*.onnx
*.ckpt
*.h5
